/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-width: 700px;
  margin: auto;
  font-family: var(--main-font-name), serif;
  font-variation-settings: 'wght' var(--card-text-font-weight);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-size: cover;
}

.header {
  min-height: 327px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-family: var(--accent-font-name);
  margin: 100px 0 104px;
  border: 2px solid var(--accent-color);
  padding-bottom: 24px;
  background-color: var(--bg-color);
  margin-bottom: 100px;
}

.header__logo {
  display: block;
  text-align: center;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin: 20px 0 25px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 11px;
}

.theme-menu__item {
  margin-left: 20px;
}

.theme-menu__button {
  color: var(--accent-color, #000);
  display: block;
  position: relative;
  font-family: var(--accent-font-name);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
  transition: 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: '';
  height: 3px;
  background-color: var(--accent-color);
  opacity: 0.6;
  width: 0;
  position: absolute;
  top: 100%;
  left: 6px;
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: calc(100% - 12px);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  font-size: 14px;
  translate: -19px;
  animation: arrow-button 0.5s ease-in-out alternate infinite;
}

.main__cards-list {
  display: flex;
  flex-direction: column;
  gap: 50.5px;
  margin-bottom: 51px;
}

.card {
  display: block;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  min-width: 375px;
  max-width: 700px;
}

.card__title {
  display: block;
  font-variation-settings: 'wght' var(--card-title-font-weight);
  font-family: var(--main-font-name), serif;
  margin: 5px 10px;
  color: var(--accent-color);
  font-size: 18px;
}

.card__image-block {
  position: relative;
  min-height: 371px;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image {
  height: 100%;
  width: 100%;
}

.card__image-label {
  position: absolute;
  display: block;
  top: 23px;
  right: 13px;
  color: var(--accent-color);
  font-family: var(--accent-font-name);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-size: 14px;
  text-shadow: 
  -1px 0 var(--bg-color), 
   0 1px var(--bg-color), 
   1px 0 var(--bg-color), 
   0 -1px var(--bg-color);
}

@supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .card__image-label {
      -webkit-text-stroke: 1px var(--bg-color);
      text-stroke: 1px var(--bg-color);
      text-shadow: none;
  }
} 

.card__description {
  margin: 26px 25px 24px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 116.667%;
}

p:not(:last-of-type).card__description {
  margin-bottom: 28px;
}

.like-buttons {
  display: grid;
  grid-template-columns: 2fr min-content min-content;
}

.card__icon-button {
  height: 24px;
  width: 27px;
  margin: 2px 6px;
  padding: 0 39px 35px 0;
  grid-column-start: 2;
  background-color: transparent;
  border: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: outline 0.3s ease;
}

.like-icon {
  fill: var(--accent-color);
}

.button {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  position: relative;
  overflow: hidden;
}

.button::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  left: 0;
  top: 0;
}

.button:hover::before {
  transform: translateX(0);
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: box-shadow 0.3s;
}

.card__like-button {
  display: flex;
  margin: 0 25px 25px 0;
  align-self: end;
  max-width: 130px;
  padding: 10px 37px;
  justify-content: center;
  align-items: center;
}

.button__text {
  font-family: var(--accent-font-name);
  font-size: 14px;
  color: var(--button-color);
  z-index: 1;
  mix-blend-mode: difference;
}

.main__save-section {
  display: flex;
  justify-content: center;
  margin-bottom: 99px;
}

.main__save-section__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

.floppy {
  height: 28px;
  width: 28px;
  color: var(--button-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.floppy-big {
  height: 39px;
  width: 39px;
}

@media (width > 1439px) {

  .header {
    min-height: 368px;
  }

  .main__cards-list {
    gap: 49.5px;
  }

  .card__image-label {
    top: 25px;
    right: 25px;
  }

  .main__save-section__button {
    flex-direction: row;
  }

  .floppy {
    width: 21px;
    height: 21px;
  }
}

.dialog {
  position: fixed;
  inset: 0;
  padding: 32px 40px;
  min-width: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
  min-height: clamp(12.188rem, 12.232rem + -0.188vw, 12.063rem);
}

.dialog[open] {
  background-color: var(--bg-color);
  border-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog__start {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.dialog__title {
  display: block;
  z-index: 1;
  font-family: var(--accent-font-name);
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  max-width: clamp(12.25rem, 11.414rem + 3.568vw, 14.625rem);
}

.dialog__button-block {
  position: relative;
}

.dialog__button {
  min-height: 38px;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}

/* _____________________________________________FILTERS_______________________ */

.filter-grayscale {
  filter: grayscale(70%);
}

.filter-saturate {
  filter: saturate(1000%);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-invert {
  filter: invert(1);
}

.filter-sepia {
  filter: sepia(70%);
}

.filter-blur {
  filter: blur(0.3rem);
}

.filter-mixed {
  filter: sepia(20%) blur(0.1rem) brightness(150%);
}