/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-name: 'Inter';
    --accent-font-name: 'PressStart2P';
    --card-title-font-weight: 700;
    --card-text-font-weight: 400;
    --bg-color: #FFFFFF;
    --accent-color: #000000;
    --bg-image: repeating-linear-gradient(90deg, #d3d3d3 0px 2px, rgba(0 0 0 / .0) 2px 4px),
        repeating-linear-gradient(#d3d3d3 0px 2px, rgba(0 0 0 / .0) 2px 4px),
        linear-gradient(#e7e7e7 0px calc(0.01 * 100vh), #1a1a1a);
    --button-color: #fff;
    --main-body: #FF0000;
}